.btn {
  margin: 4px;
  font-size: 20px;
}

.list-group {
    padding: 8px;
}

.list-group-item-secondary > span {
  font-weight: bold;
}

.form-input-field {
  width: 70% !important;
  display: inline !important;
  margin: 4px;
}
