a {
    text-decoration: none;
}

.kb-dashboard-card {
  width: 270px;
  padding: 10px;
  margin: 20px;
}

.card-title {
    margin-top: 4px;
}

.card-text {
    color: gray;
    font-size: 12px;
    margin-bottom: 2px;
}
